
# HTML5 base:
#   https://www.sitepoint.com/a-basic-html5-template/

snippet doc
	<!DOCTYPE html>
snippet html
	<html lang="en">
snippet utf
	<meta charset="utf-8">
snippet viewport
	<meta name="viewport" content="width=device-width, initial-scale=1">
snippet script
	<script defer src="/${0}"></script>
snippet sheet
	<link rel="stylesheet" href="/${0}">
