
snippet fun
  local function ${1:name}(${2})
    ${0:$VISUAL}
  end

snippet func
  local function ${1:name}(${2})
    ${0:$VISUAL}
  end

snippet if
  if ${1:condition} then
    ${0:$VISUAL}
  end

snippet ife
  if ${1:condition} then
    ${2}
  else
    ${0:$VISUAL}
  end
