snippet class
	class ${1:name}
		${0:$VISUAL}
	end # class

snippet mod
	module ${1:name}
		${0:$VISUAL}
	end # module

snippet init
	def initialize${0:$VISUAL}
	end # def initialize

snippet case
	case${0:$VISUAL}
	end # case

snippet if
	if${0:$VISUAL}
	end # if

snippet do
	do${0:$VISUAL}
	end # do
