#nav_bar {
  padding: 0 0 0.5em 0;
  float: right;
  margin_right: 1em;
  background_color: #fffffc;
  position: absolute;
  top: 0;
  right: 10px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -khtml-border-radius: 0 0 4px 4px;
}
#nav_bar a:link {
  display: block;
  padding: 0.3em 1em;
  color: #000;
}
#nav_bar a:hover {
  background_color: #c0002c;
  color: #fff;
}
#nav_bar a:visited {
  color: #8e8e8e;
}
#nav_bar a:hover {
  color: #fff;
}
