@import "vars"

#nav_bar
  padding:         0 0 0.5em 0
  float:           right
  margin_right:    1em
  background_color: subtle_white
  position:        absolute
  top:             0
  right:           10px
  border_radius:   0 0 4px 4px

  a:link
    display: block
    padding:  0.3em 1em
    color: #000

  a:hover
    background_color: hover_color
    color:            #fff

  a:visited
    color: sub_heading_color

  a:hover
    color: #fff

