
bg_color            = #f5f5f5
heading_color       = #616161
sub_heading_color   = #8E8E8E
visited_color       = heading_color
hover_color         = #C0002C
dashed_border_color = #C7C7C7
subtle_white        = #fffffc
white               = #fff
black               = #000
highlight           = #FFFEE2
error_highlight     = #FF2D2D
go                  = #B8F3A3
dark_text_light_bg  = #363636

border_radius()
  -moz-border-radius    arguments
  -webkit-border-radius arguments
  border-radius         arguments
  -khtml-border-radius  arguments

